html{
  height: 100%;
  margin: 0;
}
body{
  height:100%;
}
.btn-orange{
  background-color: rgb(241, 90, 36) !important;
  color: rgb(255, 255, 255) !important;
}
.btn-orange:hover{
  background-color: rgb(200, 90, 36) !important;
}
.txt-orange{
 color: rgb(241, 90, 36);
}
.badge-orange{
  background-color: rgb(241, 90, 36);
  color: white;
}
.container{
  margin-top: 100px;
  margin-bottom: 50px;
}
.form-group{
  margin-bottom: 10px !important;
}
.card_Btn_Home{
  margin-top: 10px;
}
.carousel-caption{
  color: black !important;
  background-color: rgba(255, 255, 255, 0.5);
}
.thumbnail{
  width:50px;
  height:50px;
  border: 1px solid grey;
  margin: 5px;
}
.thumbnail:hover{
  cursor: pointer;
  border: 1px solid black;
}
.jumbotron{
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 0px;
  margin-top: 10px !important;
}
.album{
  padding: 30px auto;
  margin: 40px auto;
}
#btn_aggiungiComponente{
  margin-bottom: 20px;
}
#btn_rimuoviComponente{
  display: none;
}
#container_prodotto{
  margin-top: 100px;
  margin-bottom: 20px;
}
/* #carousel_prodotto{
  position:fixed;
  height: 500px;
  width: 500px;
  top: 100px;
} */
.carousel-control-next, .carousel-control-prev{
  background-color: transparent;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.carousel-indicators div{
  height: 10px !important;
  width: 10px !important;
  border-radius: 3px !important;
  background-image: url("../media/lampada.jpg");
}
.carousel-indicators img{
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid grey;
}
#productNameHome{
  color: black !important;
}
#section_mobile{
  display: none;
}
.card > a:hover{
  opacity: 0.7;
}
.chiudiX{
  font-size:20px;
  color: rgb(180, 180, 180);
  display: none;
}
.chiudiX:hover{
  cursor: pointer;
  color: #dc3545;
}
.editProduct, .removeProduct{
  width: 100px;
}
.smallAdd{
  color: grey;
}
.smallAdd:hover{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
label{
  font-size: 12px;
  color: grey;
}
.form-group-cvv{
  width: 33%;
}
input[type=number] {
  -moz-appearance: textfield;
}
#search_bar_navbar{
  width: 500px;
}
footer{
  padding: 10px;
  bottom: 0;
  margin-top: 100px;
}
footer a{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
footer a:hover{
  color: rgb(255, 255, 255);
}
#container_home{
  margin-top: 40px;
}
/* vendi */
p{
  line-height: 1.2em;
}
.modal-content{
  padding: 20px;
}
small{
  line-height: 1 !important;
}
#div_componenti{
  display: none;
}
#div_componenti i{
  color: red;
}
.div_componenti i:hover{
cursor: pointer;
}
#prima_x_rimuoviComponente{
  display: inline-block;
}
/* Help! */
#container_aiuto{
  width: 40%;
  margin-top: 10%;
}
#btn_invia_help{
  margin-top: 20px;
}
/* carrello.html */
#container_carrello{
  margin-top: 5%;
  margin-bottom: 5%;
}
/* login.html */
#form_login{
  margin-top: 80px;
  margin-bottom: 5%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnailUploadProduct{
  width: 100px;
  height: 100px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 5px;
}
.navbar-nav li{
  margin-right: 20px;
}
#carrello_icon{
  margin-left: 20px;
}
.nav-item-hidden{
  display: none;
}
footer .row{
  /* width: 1110px; */
  margin-left: auto;
  margin-right: auto;
}
.footerAddress p{
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 576px) {
  #form_login{
    width: 80%;
  }
}
@media (min-width: 576px) {
  #form_login{
    width: 80%;
  }
}
@media (min-width: 768px) {
  #form_login{
    width: 60%;
  }
}
@media (max-width: 768px) {
  #btnAddMaterial{
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  #form_login{
    width: 40%;
  }
}
@media (min-width: 1200px) {
  #container_mission{
    margin-top: 5%;
  }
  /* prodotto.html */
  .carousel-indicators li{
    background-color: black;
  }
  /* modifica prodotto */
  .linea{
    border: 1px solid black;
    margin-top: 20px;
    margin-top: 20px;
  }
}
@media (max-width: 992px){
  #search_bar_navbar{
      display: none;
  }
  .jumbotron-heading{
    margin-top: 50px;
  }
  .btnCardHome{
    width: 150px;
  }
  #titolo_mission{
    display: none;
  }
  #titolo_mission_piccolo{
    display: block;
  }
  .navbar-nav a{
    margin:0;
  }
  .navbar-nav li{
    margin:0;
  }
  #carrello_icon{
    margin-left: 0px;
  }
  .nav-item-hidden{
    display: block;
  }
}
@media (min-width:992px) {
  #titolo_mission_piccolo{
    display: none;
  }
}
@media (max-width:992px) {
  #section_mobile{
    display:block;
    margin-bottom: 20px;
  }
}
