<footer class="w-100 bg-dark">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="vendi.html">Vendi</a></li>
        <li><a class="text-muted" href="catalogo.html">Catalogo</a></li>
        <li><a class="text-muted" href="come_funziona.html">Come funziona</a></li>
        <li><a class="text-muted" href="mission.html">Mission</a></li>
        <li><a class="text-muted" href="team.html">Team</a></li>
      </ul>
    </div>
    <div class="col-md">
      <ul class="list-unstyled text-small text-muted">
        <li>Via Asiago 2/D, Vimercate (MB), Italy</li>
        <li>Codice Fiscale NSSLRT95C04F205V</li>
      </ul>
    </div>
    <div class="col-sm">
    </div>
  </div>
</footer>
